@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.container {
  width: 100%;
  position: relative;

  @include breakpoints(mq-lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include breakpoints(mq-xl) {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  @include multiplier("padding-left", 8rem);
  @include multiplier("padding-right", 8rem);
}
