@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.header {
  width: 100%;
  margin-bottom: 5rem;

  @include breakpoints(mq-lg) {
    margin-bottom: 8rem;
  }

  &__40-60 {
    width: 100%;
    height: auto;
    display: grid;
    overflow: hidden;
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;

    @include breakpoints(mq-lg) {
      grid-template-columns: 45% 55%;
    }

    &--secondary {
      background: $secondary-dark;
    }
  }

  &__img-box {
    order: 1;

    @include breakpoints(mq-xl) {
      order: 2;
    }
  }

  &__text-box {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $light;
    order: 2;

    & > *:first-child {
      margin-bottom: 1rem;
    }

    & > *:last-child {
      margin-top: 2.5rem;
    }

    @include breakpoints(mq-lg) {
      order: 1;

      & > *:last-child {
        margin-top: 4rem;
      }
    }

    @include breakpoints(mq-xl) {
      padding: 0 6rem;
    }

    @include multiplier("padding-right", 6rem);
    @include multiplier("padding-left", 6rem);
  }
}
