@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.header {
  width: 100%;
  
  &--secondary {
    background: $secondary-dark;
  }
  
  &--primary-light {
    background: $primary-100;
  }

  &__40-60 {
    width: 100%;
    height: auto;
    display: grid;
    overflow: hidden;
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;

    @include breakpoints(mq-lg) {
      grid-template-columns: 45% 55%;
    }
  }

  &__text-box {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $light;

    @include breakpoints(mq-lg) {
      padding: 0 4rem;
    }

    @include breakpoints(mq-xl) {
      padding: 0 6rem;
    }

    p{
      max-width: 45rem;
    }

    &.home{
      & > *:first-child {
        margin-bottom: 1rem;
      }
  
      & > *:last-child {
        margin-top: 2.5rem;
      }
    }

    @include breakpoints(mq-xl) {
      max-width: 50rem;
      @include multiplier("max-width", 50rem);
    }

    @include multiplier("padding-right", 6rem);
    @include multiplier("padding-left", 6rem);
  }
}
