@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.section {
  width: 100%;

  &__events{
    .events{
      &>*:not(:last-child){
        border-bottom: 1px solid $primary-light;
        @include multiplier("border-width", 1px);
      }
    }
  }

  &--text{
    padding: 4rem 2rem;

    @include breakpoints(mq-lg) {
      padding: 4rem;
    }

    @include breakpoints(mq-xl) {
      padding: 6rem;
    }

    @include multiplier("padding", 6rem);
  }

  h2,
  &__staff h3 {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  &__staff {
    padding-top: 4rem;

    @include breakpoints(mq-lg) {
      padding-top: 0;
      padding: 5rem;

      h3 {
        margin-right: 0;
        margin-left: 0;
      }
    }

    @include breakpoints(mq-xl) {
      padding: 6rem;
    }

    @include multiplier("padding", 6rem);
  }

  &__why,
  &__features {
    margin-top: 3rem;
  }

  @include breakpoints(mq-md) {
    &__activites-imgs {
      padding: 4rem;
    }
  }

  @include breakpoints(mq-lg) {
    h2 {
      margin-left: 4rem;
      margin-right: 4rem;
    }

    &__why,
    &__features {
      margin-top: 0;
    }

    &__activites-imgs {
      padding: 6rem;
    }
  }

  @include breakpoints(mq-xl) {
    h2 {
      margin-left: 0;
      margin-right: 0;
    }
  }

  
  &__activites-imgs {
    @include multiplier("padding", 6rem);
  }
}
