@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.btn {
  display: block;
  text-decoration: none;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  height: 4rem;
  text-align: center;
  text-transform: capitalize;
  font-size: $base-text;
  font-weight: 400;
  cursor: pointer;

  &--primary {
    background: $primary;
    color: $light;

    &:hover {
      background: $primary-dark;
    }
  }

  &--secondary {
    background: $secondary;
    color: $light;

    &:hover {
      background: $secondary-dark;
    }
  }

  &--full-w {
    width: 100%;
  }

  @include multiplier("padding-top", 1rem);
  @include multiplier("padding-bottom", 1rem);
  @include multiplier("padding-left", 3rem);
  @include multiplier("padding-right", 3rem);
  @include multiplier("height", 4rem);
  @include multiplier("font-size", $base-text);
}
