@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.features {
  & > *:nth-child(1),
  & > *:nth-child(2),
  & > *:nth-child(3),
  & > *:nth-child(4),
  & > *:nth-child(5) {
    border-bottom: 0;
  }

  @include breakpoints(mq-lg) {
    & > *:nth-child(4),
    & > *:nth-child(5) {
      border: 1px solid $primary-dark;
    }

    & > *:nth-child(2),
    & > *:nth-child(5) {
      border-right: 0;
      border-left: 0;
    }
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $primary-100;
  border: 1px solid $primary-dark;
  padding: 4rem;

  @include multiplier("border-width", 1px);

  &.no-padding {
    padding: 0;
  }

  &__icon {
    height: 5rem;
    width: 5rem;
    fill: $primary-dark;
    margin-bottom: 3rem;

    @include breakpoints(mq-md) {
      height: 8rem;
      width: 8rem;
    }

    @include multiplier("height", 8rem);
    @include multiplier("width", 8rem);
    @include multiplier("margin-bottom", 3rem);
  }

  &__title {
    font-weight: 700;
    font-family: $font-body;
    color: $primary-dark;
    font-size: $lg-text;
    text-transform: capitalize;

    @include breakpoints(mq-md) {
      font-size: $xl-text;
    }

    @include multiplier("font-size", $xl-text);
  }
}
