@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;


.lighthouse{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 400;
    background: rgba($primary-dark, .9);
    display: none;

    &--open{
        display: block;
        overflow: hidden;
    }

    &__btn{
        height: 3rem;
        width: 3rem;
        color: $light;
        position: absolute;
        top: 1rem;
        right: 2rem;
        color: $secondary;
        z-index: 250;
        font-size: $lg-text;
        font-weight: 700;
    }

    &__img-view{
        position: relative;
        padding: 2rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoints(mq-md) {
            padding: 4rem;
        }

        @include breakpoints(mq-xl) {
            padding: 6rem;
        }
        
        @include multiplier("padding", 6rem);
    }

    &__img{
        max-width: 100%;
        height: auto;
        display: block;
    }
}