@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

@mixin defaultLinkStyles {
  font-size: $sm-text;
  font-weight: 500;
  color: $light;
  text-decoration: none;
  border: none;
  display: inline-block;
  @include breakpoints(mq-sm) {
    font-size: $base-text;
  }

  @include multiplier("font-size", $base-text);
}

.bg {
  &__secondary {
    background: $secondary;

    &--light {
      background: $secondary-light;
    }
  }

  &__primary {
    background: $primary;

    &--light {
      background: $primary-light;
    }
  }
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}

.img-full{
  max-width: 100%;
  height: 100%;
display: block;
}

.link {
@include defaultLinkStyles();
  text-transform: capitalize;
  position: relative;

 
 

  &::before {
    display: block;
    position: absolute;
    content: "";
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: $light;
    transition: bottom 0.2s ease-in;

    @include multiplier("height", 1.5px);
  }

  &.dark, &--dark{
    color: $primary-dark;

    &::before{
      background: $primary-dark;
    }
  }



  &:hover {
    @include breakpoints(mq-lg) {
      &::before {
        bottom: -1rem;
      }
    }
  }
}

.global-link{
  @include defaultLinkStyles();
  color: $primary-light;

  &:hover{
    color: $secondary;
  }
}

@for $i from 1 through 10 {
  .m-#{$i} {
    padding: #{$i}rem;
  }
  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .mx-#{$i} {
    margin: 0 #{$i}rem;
  }
  .my-#{$i} {
    margin: #{$i}rem 0;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
  .p-#{$i} {
    padding: #{$i}rem;
  }
  .pb-#{$i} {
    padding-bottom: #{$i}rem;
  }
  .pt-#{$i} {
    padding-top: #{$i}rem;
  }
  .pr-#{$i} {
    padding-right: #{$i}rem;
  }
  .gap-#{$i} {
    grid-gap: #{$i}rem;
  }

  .lg-gap-#{$i}{
    @include breakpoints(mq-lg) {
     grid-gap: #{$i}rem;
    }
  }


  .column-gap-#{$i} {
    grid-column-gap: #{$i}rem;
  }
  .row-gap-#{$i} {
    grid-row-gap: #{$i}rem;
  }

  .sm-order-#{$i} {
    order: #{$i};

    @include breakpoints(mq-lg) {
      order: unset;
    }
  }
}

.abs-lg {
  @include breakpoints(mq-lg) {
    position: absolute;
    top: 0;
    left: 0;
  }
}


.bg-secondary {
  background: $secondary-dark;
}

.bg-primary-light,.bg-primary--100 {
  background: $primary-100;
}

.bg-secondary {
  background: $secondary;

  &--200{
    background: $secondary-200;
  }

  &--100{
    background: $secondary-100;
  }

  &--sm {
    background: $secondary;
    @include breakpoints(mq-lg) {
      background: transparent;
    }
  }
}

.bg-secondary-400 {
  background: $secondary-400;
  position: relative;
}

.bg-secondary-dark {
  background: $secondary-dark;
  position: relative;

  &--sm {
    background: $secondary-dark;
    @include breakpoints(mq-lg) {
      background: transparent;
    }
  }
}


.list{
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 1rem;
  padding-left: 1.5rem;

  @include multiplier("padding-left", 1.5rem);
  @include multiplier("grid-row-gap", 1rem);

 

  &__item{
    color: $primary-dark;
    text-transform: capitalize;
    font-size: $xl-text;
    font-weight: 700;
    position: relative;

    @include breakpoints(mq-lg) {
      // font-size: $xxl-text;
    }

    @include breakpoints(mq-xl) {
      font-size: $xxl-text;
    }
    @include breakpoints(mq-2xl) {
      font-size: $xxxl-text;

    }


    @include multiplier("font-size", $xxxl-text);

    &::before{
      position: absolute;
      top: .8rem;
      left: -1.5rem;
      content: '';
      height: .8rem;
      width: .8rem;
      border-radius: 50%;
      background: $secondary;

      @include breakpoints(mq-xl) {
        top: 1.4rem;
      }

      @include breakpoints(mq-2xl) {
        top: 1.6rem;
      }

      @include multiplier("top", 1.6rem);
      @include multiplier("left", -1.5rem);
      @include multiplier("height", .8rem);
      @include multiplier("width", .8rem);
    }

    &--sm {
      &::before{
        height: .6rem;
        width: .6rem;
      }
    }
  }
}

.center{
  text-align: center;
}

.flex{
  display: flex;
}

.align-center{
  align-items: center;
}

.space-between{
  justify-content: space-between;
}