$primary: #1c2c4b;
$primary-dark: #182540;
$primary-light: #88a2d3;
$secondary: #c8353c;
$secondary-light: #e9aeb1;
$secondary-dark: #aa2d33;
$neutral: #8386b4;
$natural: #d2d5db;
$light: #fff;
$disabled: #ebebe4;
$dark: #9f9f9f;
$darker: #404040;
$darkest: #202020;
$gray-light: #f4f4f4;
$gray-dark: #111827;
$yellow-light: #fef9c3;
$yellow-dark: #eab308;
$red-light: #fee2e2;
$red-dark: #dc2626;
$green-light: #dcfce7;
$green-dark: #16a34a;
$blue-light: #00b7f1;
$focus: #2196f3;
$link: #06c;
$visited: #551a8b;
$border: rgba(204, 204, 204, 0.5);
$shadow-1: 0 1px 2px rgba(43, 42, 51, 0.05);
$shadow-2: 0 1px 6px rgba(43, 42, 51, 0.1);
$shadow-3: 0 1px 6px rgba(43, 42, 51, 0.06);
$xs-text: 1rem;
$sm-text: 1.3rem;
$base-text: 1.6rem;
$lg-text: 1.8rem;
$xl-text: 2rem;
$xxl-text: 2.5rem;
$xxxl-text: 3rem;
$xxxxl-text: 3.5rem;
$xxxxxl-text: 4rem;
$sm-radius: 0.8rem;
$base-radius: 1rem;
$medium-radius: 1.5rem;
$icon-size: 1rem;
$font-fallback: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-body: "Roboto", var($font-fallback);
$font-heading: "Poppins", var($font-fallback);
$heading-letter-spacing: -0.031rem;
$sm-lh: 1.2;
$base-lh: 1.5;
$intermediate-lh: 1.8;
$max-width: 1440px;
$sm-gutter: 0.8rem;
$sm-base: 1rem;
$md-base: 2rem;
$bp-xs: 320px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$doc-height: 100%;
$header-height-1: calc(100vh - 11.5rem);
$header-height-2: calc(100vh - 8.5rem);
