extends base.pug

block content 
    header.header.bg-primary--100.col-2.auto-rows-1 
        .header__text-box.sm-order-2
            h1.heading.heading--primary.heading--dark.heading--flex.mb-2 
                span Academics
        .header__img-box.sm-order-1
            +image('academics', 'kellex students', 'jpg')
    main.main 
        section.section__grades 
            .col-1.gap-1
                .grade
                    .grade__left
                        .grade__title-box.primary.sm-order-2
                            h2.grade__title Creche
                        .grade__img-box.sm-order-1 
                            +image('approach', 'student and teacher in class', 'jpg')
                    .grade__desc-box
                        p.text Kellex Schools Creche admits babies of pre-school ages of between 6 weeks and 2 years. These babies receive total care in our secured homely environment where high premium is placed on comfort, safety and hygiene.
                .grade
                    .grade__left
                        .grade__title-box.secondary.sm-order-2
                            h2.grade__title Nursery / Primary
                        .grade__img-box.sm-order-1 
                            +image('approach', 'student and teacher in class', 'jpg')
                    .grade__desc-box
                        p.text Kellex High School's curriculum is designed to cater to the Cognitive, Psychomotor, and Affective domains of education, with a strong emphasis on technology integration. As an IT-based school, we offer a tailored curriculum that prepares our students for the Nigerian Common Entrance Examinations, ensuring they are well-equipped for success.
                .grade
                    .grade__left
                        .grade__title-box.primary.sm-order-2
                            h2.grade__title High School
                        .grade__img-box.sm-order-1 
                            +image('approach', 'student and teacher in class', 'jpg')
                    .grade__desc-box
                        p.text Kellex High School offers a comprehensive curriculum that covers all subject areas mandated by the Ministry of Education, divided into Junior and Senior Secondary levels. The school provides a range of well-prepared activities and utilizes modern teaching aids to foster the development of the whole child, welcoming successful candidates for admission.
        //- 320 - 326