extends base.pug

block content 
    .error__container
        img(src="/images/sad-face.png" alt="error").error__img.mb-2
        h2.heading.heading--secondary.mb-1 404
        p.text.big.mb-1 Page not found!
        p.text.mb-1 The page you&apos;re looking for does not exist or another error occured.
        p.text Go back, or navigate to another page.