extends base.pug

block content 
    header.header.bg-primary--100.col-2.auto-rows-1
        .header__text-box.sm-order-2
            h1.heading.heading--primary.heading--dark.heading--flex.mb-2 
                span Life
                span.tiny At Kellex
            p.text Club activities are strongly encouraged for the socio cultural-intellectual health and development of our students. We have a wide range of extra curricula activities for the learners to engage in. There are club activities and sporting activities.
        .header__img-box.sm-order-1
            +image('life-at-kellex', 'kellex schools students', 'jpg')
    main.main 
        section.section.section--padded.bg-secondary--200
            .section__topbar
                h2.heading.heading--secondary Extra curricular Activities
            p.text.mb-4 Students who attend kellex have opportunities to get involved in extra curricular activities outside the classroom. Students can participate in activities that interest them, as participation in these activities tends to build confidence and have a positive effect on a student's overall progress and achievement.
            - const activities = ['Fitness Club','Drama Club','Music Club','Photography / Press Club','Young Famers Club','Art And Design Club','ICT / Coding Club','Mathematics Club','Public Speaking Club','Reading Club','Chess Club','Red Cross','Jets Club','Girl Guides','Boy Scouts','Cultural Club']
            .list 
                each activity in activities 
                    .list__item #{activity}
        - const imgs = ['ict-coding','health-and-science','man-o-war','music']
        section.section.bg-primary--100.section--padded-lg
            .col-3.gap-1.lg-gap-4.gallery
                each img in imgs 
                    +image(img, img,'jpg')
    include ./partials/_lighthouse.pug



                    
