DOCTYPE 
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/styles.css")
        title Kellex Schools | Page under maintenance
    body
        main.main
            .big-container.padded
                h1.heading.heading--secondary.mb-2 We'll be back soon!
                p.text.mb-1 This page is currently under maintenance, sorry for the inconvenience. We will back soon.
                p.text.mb-3 - Kellex Schools

                a(href="/").global-link Go back to homepage