extends base.pug

block content 
    main.main 
        h2.heading.heading--secondary.heading--dark.heading--flex.mb-4 
                span Latest news
        section.section
            if articles.length < 1
                p.text.big No news article available.
            else
                .col-3.gap-4
                    each article in articles 
                        +article(article, 'news')
            //- pagination