extends base.pug

block content 
    header.header.header__about.header--primary-light.grid.grid--1fr-2x--lg 
        .header__text-box.sm-order-2
            h1.heading.heading--primary.heading--dark.heading--flex.mb-2 
                span News &
                span.tiny Events
            p.text Stay updated on the latest news and events.
        .header__img-box.sm-order-1
            +image('news-and-events', 'kellex students celebrating independence', 'jpg')
    main.main 
        section.section__news.bg-secondary--200.section--text 
            .section__topbar.flex.space-between.align-center.mb-4 
                h2.heading.heading--secondary Latest News
                a(href="/news").link.dark Read all news
            .grid.grid--1fr-3x-lg.gap-4
                each article in articles 
                    +article(article)
        section.section__events.bg-primary-light.section--text 
            h2.heading.heading--secondary.mb-4 School Events
            .grid.grid--1fr.events
                each event in events 
                    +event(event)
            //- pagination for events

