extends base.pug

block content 
    header.header.bg-primary--100.col-2.auto-rows-1
        .header__text-box.sm-order-2
            h1.heading.heading--primary.heading--dark.heading--flex.mb-2 
                span News &
                span.tiny Events
            p.text Stay updated on the latest news and events.
        .header__img-box.sm-order-1
            +image('news-and-events', 'kellex students celebrating independence', 'jpg')
    main.main 
        section.section.bg-secondary--200.section--padded 
            .section__topbar.flex.space-between.align-center 
                h2.heading.heading--secondary Latest News
                a(href="/news").link.link--dark Read all news
            if articles.length < 1
                p.text.big No news article available.
            else
                .col-3.gap-4
                    each article in articles 
                        +article(article)
        section.section.bg-primary-light.section--padded
            .section__topbar 
                h2.heading.heading--secondary School Events
            if events.length < 1
                p.text.big No events available.
            else
                .col-1
                    each event in events 
                        +event(event)
            //- pagination for events

